@font-face {
    font-family: 'PT Astra Sans';
    src: url('/static/service/fonts/PT-Astra-Sans_Bold-Italic.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;

}
body {
    font-family: 'PT Astra Sans', Arial, sans-serif;
}